__pycache__
logs
media
db
conf
.vscode

*copy*
*db.*
*.sqlite3
*.env
*.txt
*1.*
*.drawio*
*_initial.py
*.pyc
*shm
**.txt
test.html
test2.html
temp.html
*_.html
*.csv
*.pdf
0*
mtngw*
_.*
!requirements.txt
custom_logger.py
Containerfile